.background_about{
	position: relative;
	top: 0px;
	background: url("./../img/back/structure.jpg") no-repeat center center;
	width: 100%;
	height: 91.5vh;
	background-attachment: fixed;
}
h1 {
	background: transparent;
}
.content_about {
	color: white !important;
}
.title_about {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 8em;
  margin: 1em 0;
  background-color: rgba(0,0,100,0.2);
}
.content_about {
  font-size: 2em;
  background-color: rgba(0,0,100,0.2);
}
