/*paleta de colores */
/*153D6F*/
/*0B4E7F*/
/*124275*/
/*0A5184*/
/*0B5183*/

body, html, main {
	/* important */
	height: 100%;
}

.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/team.jpg");
}
/*.cd-fixed-bg.cd-bg-2 {
  background-image: url("img/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("img/cd-background-4.jpg");
}*/
.cd-scrolling-bg.cd-color-2 {
  background-color: #99a478;
  color: #3d3536;
}

.cd-scrolling-bg {
	min-height: 100%;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-weight: 100;
  color:black;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 300;
  color:black;
}

.logo-text{
  font-size: 1.4em;
}
a {
  color: white;
}

.home_banner_container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.home_banner {
  width: 1000px;
}
