/*paleta de colores */
/*153D6F*/
/*0B4E7F*/
/*124275*/
/*0A5184*/
/*0B5183*/
html{
	font-size: 12px;
}
main {
	padding-bottom: 0;
	margin-bottom: 0;
}
.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/team.jpg");
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #99a478;
  color: #3d3536;
}

.cd-scrolling-bg {
	min-height: 100%;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-weight: 100;
  color:black;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 300;
  color:black;
}

.logo-text{
  font-size: 1.4em;
}
a {
  color: white;
}

.home_banner_container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
	position: relative;
	top: 35%;
	left: 24%;

}

.home_banner {
  width: 30%;
}
.home_banner_background {

}
/* .img-back {
	z-index: -9999;
	position: relative;
	opacity: 1;
	top: 0;
	left: 0;
} */
.home_banner_background {
	background-image: url("../img/membrana.jpg");
	background-size:100%;
	opacity: 1;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 position: absolute;
 z-index: -1;
}
.customers {


}

.customer-img {
	margin: 0 auto;
	height: 20vh;
	/*border: 1px solid black;*/
}
.fotocopy {
	margin: 2em;
}
