/*paleta de colores */
/*153D6F*/
/*0B4E7F*/
/*124275*/
/*0A5184*/
/*0B5183*/

body, html, main {
	/* important */
	/*height: 100%;*/
}
main {
	padding-bottom: 0;
	margin-bottom: 0;
}
*{
	/*border: 1px solid black;*/
	box-sizing: content-box;

}

.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/team.jpg");
}
/*.cd-fixed-bg.cd-bg-2 {
  background-image: url("img/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("img/cd-background-4.jpg");
}*/
.cd-scrolling-bg.cd-color-2 {
  background-color: #99a478;
  color: #3d3536;
}

.cd-scrolling-bg {
	min-height: 100%;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-weight: 100;
  color:black;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 300;
  color:black;
}

.logo-text{
  font-size: 1.4em;
}
a {
  color: white;
}

.home_banner_container {
  height: 91.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

	background: black; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(blue, yellow); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right,rgba(27, 188, 188,0.7), rgba(55, 185, 233,0.4)); /* Standard syntax */
	background: white;

}
