
.menu {
    width: 100%;
}
.menu-container {
  margin: 0 auto;
  background: #0D7AF2;
  font-size: 1.1em;
}
.menu a.logo {
    display: inline-block;
    padding: 1.5em 3em;
    width: 19%;
    float: left;
}
.menu img {
    max-width: 100%;
}
.menu-mobile {
  display: none;
  position: relative;
  padding: 20px;
}
.menu-mobile:after {

    content: "\f0c9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 16px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}
a:link{
 text-decoration:none;
}
.menu-dropdown-icon:before {

  content: "\f103";
  font-family: FontAwesome;
  display: none;
  cursor: pointer;
  float: right;
  padding: 1.5em 2em;
  /*background:;*/
  /*color: ;*/
}
.menu > ul {
  margin: 0 auto;
  width: 80%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
  clear: right;
}
.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}
.menu > ul:after {
  clear: both;
}
.menu > ul > li {
  float: left;
  background: #0D7AF2;
  padding: 0;
  margin: 0;
}

.menu > ul > li a {
  text-decoration: none;
  padding: 1.5em 3em;
  display: block;
}
.menu > ul > li:hover {
  background: #496CF2;
  color: white;
}
.menu > ul > li:hover > ul {
  /*border: solid black 1px;*/
  border-bottom: solid #0D7AF2 1px;
  border-left: solid #0D7AF2 1px;
  border-right: solid #0D7AF2 1px;
}
.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: white;
  padding: 20px;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;

}
.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;

}
.menu > ul > li > ul:after {
  clear: both;

}
.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left;
}
.menu > ul > li > ul > li a {
  color: black;
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc;
}
.menu > ul > li > ul > li a:hover{
    color: #0D7AF2;

}
.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}
.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: .8em;
}
.menu > ul > li > ul > li > ul > li a {
  border: 0;
  font-size: 14px;
}
.menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width : 1160px) {
  .menu-container {
    font-size: 1em;
  }
}
@media only screen and (max-width: 1052px) {
  .menu-container {
    width: 100%;
  }
  .menu-container .menu{
    display:inline-block;
   }
  .menu-mobile {
    display: block;
    position: relative;
    float: right;
    padding: 20px 20px 0;
  }
  .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul {
    display: none;
    width:100%;
  }
  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  .menu > ul > li a {
    padding: 1.5em;
    width: 100%;
    display: block;
  }
  .menu > ul > li > ul {
    position: relative;
    padding: 0 40px;
  }
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  .menu > ul > li > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu .show-on-mobile {
    display: block;
  }
}
